<div class="outter-div">
    <table class="outter-table">
        <caption class="table-caption">
            Users list
        </caption>
        
        <thead>
            <tr class="table-row table-row-header">
                <th class="table-header">ID</th>
                <th class="table-header">Name</th>
                <th class="table-header">Last name</th>
                <th class="table-header">Email</th>
                <th class="table-header">Phone number</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr class="table-row">
                    <td class="table-cel">{{user.id}}</td>
                    <td class="table-cel">{{user.name}}</td>
                    <td class="table-cel">{{user.last_name}}</td>
                    <td class="table-cel">{{user.email}}</td>
                    <td class="table-cel">{{user.phone_number}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>