<div class="outter-div">
    <table class="outter-table">
        <caption class="table-caption">
            Movies list
        </caption>
        
        <thead>
            <tr class="table-row table-row-header">
                <th class="table-header">ID</th>
                <th class="table-header">Name</th>
                <th class="table-header">Release year</th>
                <th class="table-header">Studio</th>
                <th class="table-header">Genre</th>
                <th class="table-header">Synopsis</th>
                <th class="table-header">Register date</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr class="table-row">
                    <td class="table-cel">{{movie.id}}</td>
                    <td class="table-cel">{{movie.name}}</td>
                    <td class="table-cel">{{movie.release_year}}</td>
                    <td class="table-cel">{{movie.studio}}</td>
                    <td class="table-cel">{{movie.genre}}</td>
                    <td class="table-cel">{{movie.synopsis}}</td>
                    <td class="table-cel">{{movie.register_date}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>