<!DOCTYPE html>
<html lang="pt-br">
<head>
 {% include "partials/_head.html" %}
</head>
    <body>
        <header>{% include "partials/_header.html" %}</header>
        <main>
            <h1>
                Hey, There!
            </h1>
            <h1>
                I'm Daniel Vilela
            </h1>
            <h1>
                a passionate about solving problems
            </h1>
        </main>
        <footer>{% include "partials/_footer.html" %}</footer>
    </body>
</html>