<div class="outter-div">
    <table class="outter-table">
        <caption class="table-caption">
            Listagem de filmes
        </caption>
        
        <thead>
            <tr class="table-row table-row-header">
                <th class="table-header">ID</th>
                <th class="table-header">Nome</th>
                <th class="table-header">Ano de lançamento</th>
                <th class="table-header">Estúdio</th>
                <th class="table-header">Gênero</th>
                <th class="table-header">Sinopse</th>
                <th class="table-header">Data de cadastro</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr class="table-row">
                    <td class="table-cel">{{movie.id}}</td>
                    <td class="table-cel">{{movie.name}}</td>
                    <td class="table-cel">{{movie.release_year}}</td>
                    <td class="table-cel">{{movie.studio}}</td>
                    <td class="table-cel">{{movie.genre}}</td>
                    <td class="table-cel">{{movie.synopsis}}</td>
                    <td class="table-cel">{{movie.register_date}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>